name: Vercel Deployment Notification

on:
  deployment_status: # Vercel이 배포 상태를 변경할 때마다 실행됩니다.

jobs:
  discord_notification:
    runs-on: ubuntu-latest
    steps:
      - name: Send Notification to Discord
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}
          status: ${{ github.event.deployment_status.state }}
          title: "Vercel 배포 상태 알림"
          description: |
            **프로젝트**: ${{ github.event.repository.name }}
            **결과**: ${{ github.event.deployment_status.state == 'success' && '✅ 성공' || '❌ 실패' }}
            **링크**: [배포 사이트 확인](${{ github.event.deployment_status.target_url }})
          color: ${{ github.event.deployment_status.state == 'success' && '0x00FF00' || '0xFF0000' }}
